<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='refresh' content='15'>
	<title>Home Page</title>
	<style type="text/css">
		select {
		    border: 0 none;
		    color: #000000;
		    background: transparent;
		    font-size: 20px;
		    font-weight: bold;
		    padding: 2px 10px;
		    width: 378px;
		    *width: 350px;
		    *background: #58B14C;
		}

	</style>
</head>
<body>
	<div style="text-align: center; font-family:Bebas; font-size: 40px; color: black;  padding-top: 40px; padding-bottom: 10px">
	<h2>Login Failed!</h2>

	<h3>Just wait for a moment!</h3>
	<h1>{{ login_name }}</h1>
	
	</div>
</body>
</html>